nav {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(79,71,78,1);
    display: flex;
    justify-content: space-around;
    align-items:  center;
    height: 8vh;
}
header nav a{
    text-decoration: none;
    color: rgba(255,255,255,1);
    margin-right: 10px;
}
header nav a:hover{
    color: #fff;
}
header .logo{
    color: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}
.nav-list{
    list-style: none;
    display: flex;
    margin-top: 15px;
    justify-content: center;
}
.nav-list li {
    letter-spacing: 2px;
    margin-left: 30px;
}




